{
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "airbnb"
  ],
  "plugins": [
    "react",
    "react-native"
  ],
  "parserOptions": {
    "ecmaVersion": 7,
    "sourceType": "module",
    "ecmaFeatures": {
        "jsx": true,
        "modules": true
    }
  },
  "env": {
    "react-native/react-native": true
  },
  "rules": {
    "react-native/no-unused-styles": 2,
    "react-native/split-platform-components": 2,
    "react-native/no-inline-styles": 2,
    "import/prefer-default-export": 0,
    "react/jsx-filename-extension": 0,
    "react/prop-types": 0,
    "react/jsx-one-expression-per-line": 0,
    "jsx-quotes":["error", "prefer-single"],
    "react/prefer-stateless-function":0,
    "no-param-reassign": ["error", { "props": false }]
  }

}
